<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>GIGABOX - 이벤트</title>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/plyr.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<style>
#sideview {
	width: 360px;
	height: 190px;
}

.nav-link {
	color: white;
}

.nav-link active {
	color: black;
}

.recEvent {
	color: rgb(117, 134, 186);
	font-size: 25px;
}

.nav-item {
	width: 190px;
	text-align: center;
}

.card-text {
	font-weight: bold;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a href="/"><i class="fa fa-home"></i></a> <a href="event.do">이벤트</a><span>진행중인
								이벤트</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->

		<!-- Product Section Begin -->
		<section class="product-page spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="product__page__content">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-6">
									<div class="section-title">
										<h4>진행중인 이벤트</h4>
									</div>
								</div>
							</div>

							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="#">전체</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">메가Pick</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">영화</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">극장</a>
									</li>
								<li class="nav-item">
									<a class="nav-link" href="#">제휴/할인</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">시사회/무대인사</a>
								</li>
							</ul>
							<br>

							<p class="recEvent">추천이벤트</p>
							<div class="row">
								<div class="col-lg-4 col-md-6 col-sm-6">
									<div class="product__item">
										<div class="product__item__pic set-bg"
											data-setbg="img/popular/poster1.jpg"></div>
										<div class="product__item__text">
											<h5>
												<a href="#">Sen to Chihiro no Kamikakushi</a>
											</h5>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6">
									<div class="product__item">
										<div class="product__item__pic set-bg"
											data-setbg="img/popular/poster2.jpg"></div>
										<div class="product__item__text">
											<h5>
												<a href="#">Kizumonogatari III: Reiket su-hen</a>
											</h5>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6">
									<div class="product__item">
										<div class="product__item__pic set-bg"
											data-setbg="img/popular/poster3.jpg"></div>
										<div class="product__item__text">
											<h5>
												<a href="#">Shirogane Tamashii hen Kouhan sen</a>
											</h5>
										</div>
									</div>
								</div>

								<div class="col-lg-12" th:each="e:${eventList}">
									<div class="col-lg-3 card" style="width: 18rem;">
										<img th:src="${e.pic}" class="card-img-top" alt="...">
										<div class="card-body">
											<p class="card-text" th:text="${e.ttl}"></p><br>
											<p th:text="${e.edt}"></p>
										</div>
									</div>
									<div class="col-lg-3 card" style="width: 18rem;">
										<img src="img/event/event2.jpg" class="card-img-top" alt="...">
										<div class="card-body">
											<p class="card-text"><블랙 팬서: 와칸다 포에버> N차 관람 이벤트</p><br>
											<p>2022.11.04 ~ 2022.11.30</p>
										</div>
									</div>
									<div class="col-lg-3 card" style="width: 18rem;">
										<img src="img/event/event1.jpg" class="card-img-top" alt="...">
										<div class="card-body">
											<p class="card-text"><블랙팬서: 와칸다 포에버>프로모션 콤보 출시</p><br>
											<p>2022.11.08 ~ 2022.12.31</p>
										</div>
									</div>
									<div class="col-lg-3 card" style="width: 18rem;">
										<img src="img/event/event1.jpg" class="card-img-top" alt="...">
										<div class="card-body">
											<p class="card-text"><블랙팬서: 와칸다 포에버>프로모션 콤보 출시</p><br>
											<p>2022.11.08 ~ 2022.12.31</p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
						<!-- 페이지네이션 -->
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-info  justify-content-center">
								<li class="page-item disabled" th:if="${pageInfo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pageInfo.navigatepageNums}"><span
									class="page-link" th:if="${pageInfo.pageNum eq page}"
									th:text="${page}" id="pageColor"></span> <a class="page-link"
									th:unless="${pageInfo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled" th:unless="${pageInfo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>
						<!-- 페이지네이션 -->
						
					</div>
				</div>
			</div>
		</section>
		<!-- Product Section End -->
		<!-- Search model Begin -->
		<div class="search-model">
			<div class="h-100 d-flex align-items-center justify-content-center">
				<div class="search-close-switch">
					<i class="icon_close"></i>
				</div>
				<form class="search-model-form">
					<input type="text" id="search-input" placeholder="Search here.....">
				</form>
			</div>
		</div>
		<!-- Search model end -->
	</div>

	<script>
	//페이지 이동
	function gopage(p) {
		location.href = '/eventList?pageNum=' + p;
	}
	</script>

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/player.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>