<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.box.giga.movie.mapper.MovieMapper">
    
    <!-- List<MovieInfoVO> movieList(); // 모든 영화목록 -->
    <select id="movieList" resultType="co.box.giga.movie.service.MovieInfoVO" >
        <!-- SELECT MOVIE_NO,
				TITLE,
				DIRECTOR,
				ACTOR,
				AGE_CD,
				FUN_CODENAME('A',AGE_CD) AGE_CD_NAME,
				GENRE_CD,
				FUN_CODENAME('G',GENRE_CD) GENRE_CD_NAME,
				RTIME,
				NATION,
				DT,
				PIC,
				PIC_ATTACH,
				MTAB_CD,
				FUN_CODENAME('T',MTAB_CD) MTAB_CD_NAME,
				WISH,
		FROM MOVIE_INFO -->
		select * from movie_info
    </select>

</mapper>